<!DOCTYPE html>
<!-- Some updates -->
<html>
    <head>
        <meta charset="utf-8">
        <title>CardioFlux</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Sets initial viewport load and disables zooming  -->
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" />
        <!-- Include the compiled Ratchet CSS -->
        <link href="libs/ratchet/dist/css/ratchet.css" rel="stylesheet">
        <link href="libs/bootstrap/dist/css/bootstrap.min.css" />
        <!--
        <link href="libs/bootstrap/dist/css/bootstrap-theme.min.css" />
        -->
        <link rel="stylesheet" href="css/index.css" />
        <!-- Include the compiled Ratchet JS -->
        <!--<script src="libs/dist/js/ratchet.js"></script>-->
        <script src="libs/jquery/dist/jquery.min.js"></script>
        <script src="libs/angular/angular.min.js"></script>
        <script src="libs/angular-route/angular-route.min.js"></script>
        <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
    </head>
    <body ng-app="CardioFlux">

        <div id="appbody">
            <!-- Make sure all your bars are the first things in your <body> -->
            <header class="bar bar-nav bg-color" ng-controller="NavCtrl">
                <a class="icon pull-left" ng-click="$event.preventDefault();toggleMenu();"><i class="fa fa-bars"></i></a>
                <h1 class="title">{{ appName}}</h1>
            </header>

            <div class="content" ng-view></div>
        </div>

        <div id="appmenu" ng-controller="NavCtrl">
            <ul>
                <li>
                    <a href="#/dashboard" ng-click="toggleMenu()">Dashboard</a>
                </li>
                <li>
                    <a href="#/workout" ng-click="toggleMenu()">Workout</a>
                </li>
                <li class="divider">
                    <sup>SWC PITCH</sup>
                </li>
                <li>
                    <a href="#/dashboard" ng-click="toggleMenu()" target="_top">Pitch Deck</a>
                </li>
            </ul>
        </div>
        
        <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="js/svc.context.js"></script>
        <!-- MUST BE FIRST!! -->
        <script src="js/cardioflux.js"></script>
        <!-- ALL modules using CardioFlux variable should be included after cardioflux.js -->
        <script src="js/nav.js"></script>
        <script src="js/workout.js"></script>
    </body>
</html>