<!-- @TODO use workout backgrounds that correspond to the selected workout plan for the user -->
<div ng-controller="WorkoutCtrl" class="spread live-bg1 active-view">
    <div class="cue cue-success" ng-show="callout">
        <button type="button" ng-click="callout=null;" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 ng-bind-html="callout.title"></h3>
        <p ng-bind-html="callout.message"></p>
        <!--<h3>Doing Great!</h3><p>Try to maintain your current cadence to stay at 75% of your maximum BPM</p>-->
    </div>
    <div style="text-align: center; padding: 1.8em; background-color: rgba(0, 0, 0, 0.45);">
        <div class="jumbotron">
            <!--
            <div style="text-align: center; display: block; background-color: rgba(0, 0, 0, 0.75); border-radius: 50%; width: 220px; height: 220px; padding-top: 45px; margin: 0 auto;">
                <h1 class="bpm" style="font-size: 120px;">
                    <span>74</span>
                </h1>
                <span class="small-text">beats / min</span>
            </div>
            -->
            <div class="pulsing" style="text-align: center; display: block; border-radius: 50%; width: 220px; height: 220px; padding-top: 35px; margin: 0 auto;">
                <h1 class="bpm" style="font-size: 120px;">
                    <span>{{ currentData.bpm || 0 }}</span>
                </h1>
                <span class="subtext">beats / min</span>
            </div>
            <!--
             <section>
                 <h1 class="bpm" style="font-size: 120px;">
                     <span>74</span>
                 </h1>
                 <span class="subtext">beats / min</span>
             </section>
            -->
        </div>

        <div class="row" style="max-width: 400px;">
            <article>
                <section>
                    <h3>{{ currentData.secs || 0 }}</h3>
                    <span class="subtext">SECS</span>
                </section>
            </article>
            <article>
                <section>
                    <h3>{{ Zones[currentData.zone].label }}</h3>
                    <span class="subtext">ZONE</span>
                </section>
            </article>
            <article>
                <section>
                    <h3>{{ currentData.targetBPM }} %</h3>
                    <span class="subtext">/MAX *</span>
                </section>
            </article>
        </div>

        <button ng-click="goTo('')" style="background-color: rgba(255, 0, 0, 0.95); border: none; width: 90px; height: 90px; border-radius: 45px; margin-top: 1.2em;">
            <i class="fa fa-stop"></i>
        </button>
    </div>
</div>